<ion-menu contentId="main-content" type="overlay">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Abéché Tech Hub</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <ion-menu-toggle auto-hide="true">
        <ion-item routerLink="/app/accueil" routerDirection="root" lines="none">
          <ion-icon name="home-outline" slot="start"></ion-icon>

          <ion-label>Accueil</ion-label>
        </ion-item>

        <ion-item routerLink="/app/service" routerDirection="root" lines="none">
          <ion-icon name="briefcase-outline" slot="start"></ion-icon>
          <ion-label>Services</ion-label>
        </ion-item>

        <ion-item routerLink="/app/contact" routerDirection="root" lines="none">
          <ion-icon name="mail-outline" slot="start"></ion-icon>
          <ion-label>Contact</ion-label>
        </ion-item>

        <ion-item routerLink="/app/about" routerDirection="root" lines="none">
          <ion-icon name="information-circle-outline" slot="start"></ion-icon>
          <ion-label>À propos</ion-label>
        </ion-item>
      </ion-menu-toggle>
    </ion-list>
  </ion-content>
</ion-menu>




<!-- === CONTENU PRINCIPAL === -->
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Abéché Tech Hub</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <!-- Les sous-pages s’affichent ici -->
    <router-outlet></router-outlet>
  </ion-content>
</div>
