<ion-tabs>

  <ion-tab-bar slot="bottom">
    <!-- Onglet Accueil -->
    <ion-tab-button tab="acceuil">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Accueil</ion-label>
    </ion-tab-button>

    <!-- Onglet Services -->
    <ion-tab-button tab="service">
      <ion-icon name="construct-outline"></ion-icon>
      <ion-label>Service</ion-label>
    </ion-tab-button>

    <!-- Onglet Contact -->
    <ion-tab-button tab="contact">
      <ion-icon name="call-outline"></ion-icon>
      <ion-label>Contact</ion-label>
    </ion-tab-button>

    <!-- Onglet À propos -->
    <ion-tab-button tab="apropos">
      <ion-icon name="information-circle-outline"></ion-icon>
      <ion-label>À propos</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
